/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
}

/* home section */
#home{
    height:430px;
    padding: 3px 66px;
}
#home::before{
    height:590px;
}
#home p{
    font-size: 18px;
}

/* services section */
#services{
    flex-direction: column;
}
#services .box{  
    margin:8px 5px;
    padding:16px;
    
}

/* client section */
#clients{
    flex-wrap:wrap;
}

#clients img{
    padding:2px 6px;
    height: auto;
    width: 60px;
}
/* contact section */
#contact-box form{
    width:80%;
}
/* utility class */
.h-primary{
    font-size: 30px;
}
.btn{
    font-size: 1rem;
    padding: 6px 10px;
    margin: 16px;
}